#wysiwyg
{
	height: auto;
}

html
{
	background-image: none;
}

body
{
	font-family: Droid Sans,Arial,Helvetica,sans-serif;
	font-size: 12px;
}

#wysiwyg body
{
	background-image: none;
	margin: 1em;
	padding: 0;
	height: auto;
}

object
{
	background: fuchsia;
}