<wdp:videos>
	<div id="mediatheque">

	<wdp:foreach>
		<div class="media-item">
			<div class="header">
			<h3 class="media-titre">#{@title!}</h3>
			<div class="date">#{@created.ftime('%d %B %Y')}</div>
			</div>
				
			<wdp:if test="@poster">
				<a href="#{@path}" rel="nonver-popup" title="#{@title!}">
				<img src="#{@poster.thumbnail('videos_list')!}" class="cadre media-vignette" alt="" />
				</a>
			</wdp:if>
			
			<div class="contents">#{@description}</div>
		</div>
	</wdp:foreach>
	
	<wdp:pager range="self.range" />
	
	</div>
</wdp:videos
