[submodule "wdcore"]
	path = publishr/framework/wdcore
	url = git://github.com/Weirdog/WdCore.git
	
[submodule "wdelements"]
	path = publishr/framework/wdelements
	url = git://github.com/Weirdog/WdElements.git
	
[submodule "wdpatron"]
	path = publishr/framework/wdpatron
	url = git://github.com/Weirdog/WdPatron.git