<ol>
<wdp:foreach>
	<li>
		<h3><a href="#{@url}">#{@title}</a></h3>
		<div class="metas"><wdp:if test="@category"><a href="#{@url('category')}" class="category">#{@category}</a><span class="separator"> &ndash; </span></wdp:if>#{@date.format_time('long')}</div>

		<div class="contents">
			<wdp:if test="@image">
			<img src="#{@image.thumbnail('newsHome')}" alt="#{@image.alt}" class="illustration" />
			</wdp:if>

			#{@excerpt=}
		</div>
	</li>
</wdp:foreach>
</ol>

<p class="go-to-list"><a href="#{@first().url('list')}">#{t:All records}</a></p>