<div id="contents-news-view">

<wdp:news select="$request">
	<wdp:variable name="$page.title" select="@title" />

	<wdp:if test="@image">
	<a href="#{@image.path}" rel="lightbox"><img src="#{@image.thumbnail('newsView')}" alt="#{@image.alt}" class="illustration" /></a>
	</wdp:if>
	
	<div><span class="date">#{@date.format_time(':long')}</span></div>
	
	<div class="contents">#{@contents=}</div>
	
	<p class="go-to-list"><a href="#{@url('list')}">#{t:modules.contents_news.display_all}</a></p>
</wdp:news>

</div>