@CHARSET "UTF-8";

.wd-titleslugcombo .slug-reminder,
.wd-titleslugcombo a[href="#slug-collapse"]
{
	margin-left: 1ex;
}

.wd-titleslugcombo a[href="#slug-collapse"],
.wd-titleslugcombo div.slug
{
	display: none;
}

.wd-titleslugcombo div.slug
{
	margin: 1em 0;
}

.wd-titleslugcombo .slug-reminder span
{
	display: none;
}

.wd-titleslugcombo p
{
	margin-top: .5em;
}