div.radio-group.view-selector
{
	border: 1px solid #CCC;
	background: white;
	margin-bottom: .5em;
}

div.view-selector .view-item
{
	padding: .5em 1em;
	display: inline-block;
	width: 25%;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*
div.view-selector .view-item:nth-child(2n)
{
	background-color: #FBFBFB;
}
*/

div.view-selector .view-item *:last-child
{
	margin-bottom: 0;
}