@CHARSET "UTF-8";

#search-matches div.set + div.set
{
	margin-top: 3em;
	border-top: 1px solid #ccc;
}

#search-matches h2
{
	margin-bottom: 0;
}

#search-matches h2 + p
{
	margin-top: .4em;
}

#search-matches ol
{
	margin: 1em 0;
	padding: 0;
	list-style: none;
}

#search-matches h3
{
	margin-bottom: 0;
}

#search-matches p.excerpt
{
	margin-top: 0;
	margin-bottom: 0;
}

#search-matches cite
{
	color: #0E774A;
	font-style: normal;
}

#search-matches p.more:before
{
	content: '→ ';
}