@CHARSET "UTF-8";

.wdp-debug,
.wdp-error,
.wd-core-debug,
pre.xdebug-var-dump
{
	background-color: black;
	color: lime;
	font-size: 12px;
	font-family: Monaco, Consolas, monospace;
	line-height: normal;
}

.wdp-debug,
.wdp-error,
.wd-core-debug
{
	padding: 1em;
	border: 1px solid green;
}

.wd-core-debug
{
	display: block;
}

div.wd-debug
{
	clear: both;
}	

div.wdp-debug ul
{
	list-style-position: inside;
	margin: 1em 0 0 0;
	padding: 0;
}

div.wdp-debug h6
{
	color: inherit;
	margin: 0;
	border-bottom: 1px solid green;
	font-family: inherit;
	font-size: inherit;
	text-transform: uppercase;
}

.wdp-error
{
	display: block;
	/*
	z-index: 100000;
	position: absolute;*/
	padding: 1em;
	min-width: 400px;
}

.wdp-debug strong,
.wdp-error strong,
.wd-core-debug strong
{
	color: red;
}

.wdp-debug em,
.wdp-error em,
.wd-core-debug em
{
	color: yellow;
}