@CHARSET "UTF-8";

form.wdform div.form-section.panel
{
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

form.edit div.form-element.is_notify + table
{
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
}	
form.edit div.form-element.is_notify.unfolded + table
{
	display: table;
}

form.wdform td.label
{
	font-size: .9em;
}

form.wdform textarea[name="notify_template"]
{
	font-family: Droid Sans Mono, Consolas, Monaco, monospace;
	font-size: .8em;
}