@CHARSET "UTF-8";

div.widget-adjust-node:not(.popup)
{
	margin: 1em 0;
}

div.widget-adjust-node:not(.popup) div.arrow
{
	display: none;
}

div.widget-adjust-node ul
{
	padding: 0;
	margin: .5em 0;
	list-style: none;
}

div.widget-adjust-node li
{
	margin: 1px 0;
	padding: 0;
	cursor: pointer;
}

div.widget-adjust-node li:nth-child(even)
{
	background-color: #FBFBFB;
}

div.widget-adjust-node li:not(.empty):hover
{
	background-color: #f2f8ff;
}

div.widget-adjust-node li.selected
{
	background-color: #B5D5FF;
}

div.widget-adjust-node li a[href]
{
	color: inherit;
	display: block;
	padding: .2em 1ex .2em 0;
	text-decoration: none;
}

div.widget-adjust-node li.selected,
div.widget-adjust-node li:hover a[href]
{
	color: #4B8BB3;
}

div.widget-adjust-node li img
{
	vertical-align: middle;
	margin-right: .5ex;
	border: none;
}

div.widget-adjust-node .pager
{
	text-align: center;
	margin: 1em auto;
}

div.widget-adjust-node .pager .separator
{
	display: none;
}

div.widget-adjust-node .pager a,
div.widget-adjust-node .pager strong
{
	margin: .5ex;
}

/*
div.widget-adjust-node div.confirm
{
	display: none;
	text-align: center;
	background-color: #F6F6F6;
	border-top: 1px solid #CFCFCF;
}

div.widget-adjust-node.popup div.confirm
{
	display: block;
}

div.widget-adjust-node div.confirm button
{
	margin: .8em 1ex;
}
*/

/*
div.popup div.adjust
{
	margin: 1em;
}
*/

div.popup input[type="text"],
div.popup select,
div.popup textarea
{
	background-color: #F6F6F6;
}

div.popup div.adjust input.search
{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

div.popup div.adjust input.search.empty
{
	font-style: italic;
}

div.popup div.confirm
{
	text-align: center;
	background-color: #F6F6F6;
	border-top: 1px solid #CFCFCF;
}

div.popup div.confirm button
{
	margin: .8em 1ex;
	width: 25%;
}