
div.datepicker.popup.below div.arrow div
{
	border-color: transparent transparent #F6F6F6 transparent;
}


.datepicker
{
	position: absolute;
	border: 1px solid #CCC;
	font-size: 11px;
	/*height: 197px;*/
	background-color: white;
	line-height: normal;
	-moz-box-shadow: 0 5px 20px 0 gray;
	-webkit-box-shadow: 0 5px 20px 0 gray;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* header ********************************************************/

.datepicker .header
{
	position: relative;
	background-color: #F6F6F6;
	/*height: 21px;
	padding-top: 4px;*/
	border-bottom: 1px solid #CCC;
	line-height: 27px;
}

.datepicker .header .title
{
	text-align: center;
	/*
	padding-top: 1px;
	margin: 0px 42px 0 20px;
	*/
}

.datepicker .header .titleText
{
	color: #404040;
	font-weight: bold;
}

.datepicker .header .next,
.datepicker .header .previous,
.datepicker .header .closeButton
{
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: white;
	text-align: center;
	top: 5px;
	cursor: pointer;
}

.datepicker .header .previous,
.datepicker .header .next
{
	line-height: normal;
	border: 1px solid #CCC;
}

.datepicker .header .previous
{
	left: 5px;
}

.datepicker .header .next
{
	right: 5px;
}
.datepicker .header .closeButton
{
	right: 5px;
	display: none;
}

/* body
********************************************************/
.datepicker .body
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 210px;
	height: 193px;
	height: 169px;
	overflow: hidden;
}

/* time
********************************************************/
.datepicker .time {
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.datepicker .time .hour,
.datepicker .time .separator,
.datepicker .time .minutes {
	border: 1px solid #ccc;
	background-color: #fff;
	width: 50px;
	font-size: 32px;
	position: absolute;
	top: 50px;
	text-align: center;
	padding: 2px;
}

.datepicker .time .hour {
	left: 30px;
}
.datepicker .time .separator {
	background: transparent;
	border: 0px;
	width: 10px;
	left: 91px;
}

.datepicker .time .minutes {
	left: 110px;
}
.datepicker .time .ok {
	position: absolute;
	top: 105px;
	width: 136px;
	left: 30px;
	font-size: 20px;
}

/* days-grid ********************************************************/

.datepicker .days .titles
{
	height: 24px;
	border-bottom: 1px solid #CCC;
}

.datepicker .days .day
{
	float: left;
	/*background: #ddd;*/
	cursor: pointer;
	text-align: center;
	/*padding-top: 4px;*/
	/*width: 25px;*/
	width: 30px;
	overflow: hidden;
	/*height: 24px;*/
	line-height: 24px;
	/*margin: 0 3px 3px 0;*/
}

.datepicker .days .day0 {
	margin-right: 0;
}

.datepicker .days .week5 .day {
	margin-bottom: 0;
}

/* days-colors
********************************************************/
.datepicker .days .title
{
	/*background: #5D6E95;*/
	font-weight: bold;
	/*color: #fff;*/
	cursor: default;
}

.datepicker .days .otherMonth
{
	background: transparent;
	color: #aaa;
}

/* months
********************************************************/
.datepicker .months .month
{
	float: left;
	/*background-color: #eee;*/
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	width: 72px;
	line-height: 41px;
	margin: 0 1px 1px 0;
}

.datepicker .months .month3,
.datepicker .months .month6,
.datepicker .months .month9,
.datepicker .months .month12 {
	margin-right: 0;
	width: 64px;
}

.datepicker .months .month10,
.datepicker .months .month11,
.datepicker .months .month12 {
	margin-bottom: 0;
}

/* years
********************************************************/

.datepicker .years .year
{
	float: left;
	/*background-color: #eee;*/
	cursor: pointer;
	text-align: center;
	/*padding-top: 11px;*/
	width: 51px;
	overflow: hidden;
	/*height: 25px;*/
	margin: 1px 0 0 1px;
	line-height: 32px;
}

/* global
********************************************************/

.datepicker .today
{
	background: #FFA !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.datepicker .selected
{
	background: #31aee8 !important;
	color: #fff !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.datepicker .unavailable {
	background: #edd !important;
	color: #b88 !important;
	cursor: default !important;
}

.datepicker .days .week .day:hover,
.datepicker .months .month:hover,
.datepicker .years .year:hover {
	background: #F4E5F0 !important;
	color: black !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}