#
# BEGIN OVH (cgi mode)
#

SetEnv PHP_VER 5_TEST
SetEnv MAGIC_QUOTES 0
SetEnv REGISTER_GLOBAL 0

#
# END OVH
#

#
# BEGIN compression
#

AddType application/javascript .js
AddType text/css .css
AddType text/xml .xml

AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/javascript application/json application/xhtml+xml

#
# Expirations
#

<IfModule mod_expires.c>
	ExpiresActive On
	
	# expire GIF images after a month in the client's cache
	
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType application/javascript "access plus 2 weeks"
	ExpiresByType text/css "access plus 2 weeks"
</IfModule>

#
# END compression
#

Options +FollowSymLinks
Options -Indexes

RewriteEngine On

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# if it's a resource, we don't redirect
RewriteCond %{REQUEST_URI} !\.(png|gif|jpg|jpeg|pdf|swf|flv|txt|ico)$

# otherwise forward it to index.php
RewriteRule . index.php