form.wdform .missing
{
	border-color: #EAA;
}

form.wdform ul.missing
{
	border-width: 1px;
	border-style: solid;
	padding: 1em;
	margin: 1em 0;
	list-style-position: inside;
	background-color: #FEE;
	color: #D33;
}

form.wdform div.form-label
{
	margin: 1em 0 .5em 0;
}