@charset "utf-8";

#permissions
{
	list-style: circle;
}

#permissions li
{
	margin-bottom: 1em;
}

/*
form.management
{
	margin: 0;
}
*/

#main h2
{
	margin: 0;
}

#main h2.folded
{
	color: rgb(60%, 60%, 60%);
	background: #5b6b75;
	border-top-color: #5e717d;
	border-bottom-color: #58656e;
	cursor: pointer;
}

#main h2.folded:hover
{
	color: rgb(80%, 80%, 80%);
	background: #536f80;
	border-top-color: #58798d;
	border-bottom-color: #4e6473;
}

#welcome div.fold-contents
{
	padding: 1em 0;
}

#welcome div.fold-contents form.management
{
	margin: 0;
}

/*
**

CONFIG - TABS

**
*/

#config-tabs
{
	display: block;
	background: #4C4C4C url(../css/input-back.gif) repeat-x;
	border: 2px solid #3F3F3F;
	color: white;
	padding: 5px;
	margin: 1em 0;
	list-style: none;
}

#config-tabs li
{
	cursor: n-resize;
	line-height: 1.4em;
}

#config-tabs li:hover
{
	color: #4B8BB3;
}

#config-tabs small
{
	color: rgb(60%, 60%, 60%);
}