@CHARSET "UTF-8";

div.view.constructor-contents-news ol
{
	padding: 0;
	margin: 1em 0;
	list-style: none;
}

div.view.constructor-contents-news div.metas
{
	margin-top: -.5em;
}

#view-contents-news-home li + li
{
	margin-top: 2em;
}

#view-contents-news-list img.illustration
{
	float: left;
	margin-right: 2ex;
}