table.resume
{
	text-align: center;
}

table.resume select,
table.resume div.wd-select
{
	color: white;
	background: rgb(25%, 25%, 25%);
	border: 1px solid rgb(20%, 20%, 20%);
	width: 15ex;
	margin: 0 auto;
}

table.resume th:first-child,
table.resume td:first-child
{
	padding-left: 2ex;
	text-align: left;
}

table.resume tr.module
{
	color: white;
	font-weight: bold;
	background: rgb(28%, 28%, 28%);
}

table.resume tr.admin td:first-child
{
	color: rgb(90%, 90%, 90%);
	padding-left: 4ex;
}

table.resume tr.admin em
{
	color: rgb(60%, 60%, 60%);
	font-size: .9em;
}

table.resume tr.perm td:first-child
{
	color: rgb(80%, 80%, 80%);
	padding-left: 6ex;
}

table.resume tr.footer
{
	text-align: center;
}

table.resume tr div.checkbox
{
	margin: 0 auto;
}

button.save
{
	float: left;
	margin-right: 2ex;
}

button.delete
{
	visibility: hidden;
}