form.edit div.file-upload-element div.details
{
	display: inline-block;
	text-align: right;
	margin-right: 1ex;
	vertical-align: top;
}

form.edit div.file-upload-element div.preview img
{
	border: 1px solid #CCC;
}

form.edit div.file-upload-element div.preview a img:hover
{
	border-color: #FFE; 
}

form.edit div.file-upload-element div.preview small
{
	display: block;
	margin-top: 0.5em;
}